<header class="page-header">
    <div class="page-header-content container">
        <div class="menu-button-container">
            <i id="menu-button" class="menu-button fa fa-reorder"></i>
        </div>
        <nav id="nav-top" class="nav-top">
            <ul>
                <li><a routerLink="/home">Home</a></li>                
                <li><a routerLink="/menu">Menu</a></li>
            </ul>
            <h1 class="logo-primary"><img alt="Bakery" src="assets/images/mandala_logo.png"></h1>
            <div class="logo-secondary"><img alt="Bakery" src="assets/images/mandala_logo.png"></div>
            <ul>
                <li><a routerLink="/contact">Contact</a></li>                
                <li><a routerLink="/about">About</a></li>                
            </ul>
        </nav>
    </div>
</header>